apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: django-db-pvc
  namespace: greatkart
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: django-static-pvc
  namespace: greatkart
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: django-media-pvc
  namespace: greatkart
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi