apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: greatkart
  labels:
    app: django
spec:
  type: NodePort
  selector:
    app: django
  ports:
    - name: http 
      protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 32404
